*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #f5f5f5;
  background-color: #222;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
  padding: 10px;
  height: 60px;
}
.nav-left{
  display: flex;
  align-items: center;
}
.nav-items *{margin-right: 16px;}
.line{margin: 0 15px 0 15px;}
.span-common *{
  text-decoration: none;
  cursor: pointer;
  color: #f5f5f5;
  transition: .1s;
}
.span-common *:hover{color: #d3d3d3;}
.nav-login *{cursor: pointer;}
.nav-login *:hover{color: #d3d3d3;}
.logout-btn{
  color: #f5f5f5;
  padding: 5px 8px;
  background-color: transparent;
  border: 2px solid rgb(59, 255, 59);
  border-radius: 10px;
}